*{
    padding: 0px;
    margin:0px;
}
section{
    display:flex;
}
.one{
    height:500px;
    width:300px;
    border: 2px solid black;
    margin: 10px;
}
.one img{
    height: 200px;
    width:300px;
}
#two img{
    height:100px ;
    width: 100px;
    border: 5px solid black;
    border-radius: 50%;
    margin-left: 90px;
}
h1{
    font-weight: bolder;
    margin-left: 90px;
    margin-top: 2px;
}
p{
    margin-top: 20px;
    text-align: center;
}
button{
    background-color: blueviolet;
    color: white;
    width: 300px;
    margin-top: 50px;
    font-weight: bolder;
    padding: 2px;
    height: 30px;
}
@media screen and (max-width:500px){
    section{
        display: flex;
        flex-direction: column;
    }
}