.main_section{
    margin-left: 200px;
    margin-right: 200px;
}
.taskbar{
    display: flex;
    justify-content: space-between;
}
 .taskbar h2{
    margin-left: 30px;
    margin-right: 30px;

}
.d-flex{
    margin-left: 500px;
}
.container{
    margin-top: 30px;
}
.card{
    padding: 0px 10px 10px 10px;
}


